<!DOCTYPE html>
<html lang="en">
<head th:fragmet="head">
    <meta charset="UTF-8">
    <title>Repair Shop Management System</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script src="/js/bootstrap.bundle.min.js" th:script="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Repair Shops Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 w-100">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/repair-shops">Repair Shops</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                            <a class="nav-link" href="/employees">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/appointments">Appointments</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('CLIENT')">
                            <a class="nav-link" href="/vehicles">Vehicles</a>
                        </li>
                        <li class="nav-item dropdown me-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Create
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li sec:authorize="hasAuthority('ADMIN')">
                                    <a href="/repair-shops/create" class="nav-link">Repair shop</a>
                                </li>
                                <li sec:authorize="hasAuthority('ADMIN')">
                                    <a href="/employees/create" class="nav-link">Employee</a>
                                </li>
                                <li sec:authorize="hasAuthority('CLIENT')">
                                    <a href="/vehicles/create" class="nav-link">Vehicle</a>
                                </li>
                            </ul>
                        </li>
                        <ul class="nav" sec:authorize="isAuthenticated()">
                            <li class="nav-item">
                                <a href="#" class="nav-link text-primary">
                                    <span sec:authentication="name"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Log out</a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>